@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.mainWrap {
    padding: 100px 0;
    background-color: $bgColor;
    @include flex(column, center, center, nowrap);

    .container {
        @include container();
        @include flex(column, center, center, nowrap);

        .myWorks {
            width: 100%;
            @include flex(row, space-around, flex-start, wrap);
            margin-top: 30px;

            @media screen and (max-width:700px) {
                justify-content: center;
            }
        }
    }
}