.mainWrap {
    padding: 100px 0;
    background-color: #1f1f20;
}
.myWorkConteiner {
    flex-direction: column;
    justify-content: flex-start ;
    flex-wrap: nowrap;
}

.myWorks {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;

}

@media screen and(max-width: 1000px) {
    .myWorks {
    justify-content: center;
    }
}