.mainWrap {
    padding: 100px 0;
}
.myWorkConteiner {
    flex-direction: column;
    justify-content: flex-start ;
}


.myWorks {
    width: 100%;
    height: 60%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and  (min-width: 654px) {
    .myWorks {
    justify-content: space-around;

    }
}