@import '../common/styles/sass/variables.scss';

.wrapContacts{
    min-height: 50vh;
    background-color: $bgColor;
}
.myContactsConteiner{
    flex-direction: column;
    justify-content: flex-start ;
}
.title {
    background-color: rgb(255, 183, 249);
    height: 5vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    
}

.form input, .form textarea {
    width: 100%;
}

.submitBtn {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(214, 214, 214);
    color: $textColor
}

@media screen and (max-width:950px) {
    .form {
    width: 90%;
    }
}