@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

 .title {
    margin: 0 0 30px;
    @include text($TitlefontFamily, 36px ,1.2, 300);
    text-transform: capitalize;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
     h2 {
        margin: 0;
    }
    &::before {
        content: "";
        position: absolute;
        background: $primaryColor;
        width: 55px;
        height: 1px;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%,50%);
    }
} 
