.mainWrapWork {
    background-color: rgb(211, 255, 231);
    height: 50vh;
}

.title {
    background-color:  rgb(184, 255, 231);
    font-weight: bold;
}

.freeWork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
 
}
