@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.skillsBlock{
    background-color: $bgSecondColor;
    padding: 100px 0;
    .container {
        @include container();
        @include flex(column, space-between, center,nowrap);
    }
    .skills {
        @include flex(row, space-between, center,wrap);
        width: 100%;
        margin-top: 30px;
    }
}


