@import '../common/styles/sass/variables.scss';

.mainBlock {
    min-height: 100vh;
    background-color: $bgColor;
    display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.text {
    width: 300px;
    background-color:rgb(255, 189, 238) ;
    
}

.photo {
    width: 350px;
    height: 400px;
    background-color: rgb(255, 189, 238);
    
}
