@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.nav {
  
    min-height: 100vh;
    @include flex(row, space-around, center, nowrap);

    .container {
        @include container();
        @include flex(row, flex-end, center, nowrap);

        .main {
            @include flex(row, space-around, center, nowrap);
            @include text($TextfontFamily, 18px, 1.2, 400);
            padding: 20px;
            margin-top: 5px;
        }
    }
}