@import '../common/styles/sass/variables.scss';

.wrapFooter {
    background-color: $bgSecondColor;

}
.title {
    background-color:  rgb(184, 255, 231);
}

.myFooterConteiner {
    flex-direction: column;
    justify-content: space-around ;
}
.cells {
   width:250px;
   background-color: #d6d6d6;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.cell {
    width: 50px;
    height: 50px;
    background-color:   rgb(144, 208, 187);
}